.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header, .header {
  background-color: #123abc;
  height: 50px;
  padding: 20px;
  color: white;
}

.brand-name {
  float: left;
  margin-left: 10%;
  margin-top: 12px;
  padding: 0;
}

.App-intro {
  font-size: large;
}

.active {
  color: green;
}

.header-links {
  display: inline-flex;
  float: right;
  list-style: none;
  margin-right: 4%;
}

.header-links li {
  padding: 0 10px;
}

.header-links li a {
  color: #FFF;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
